$color-primary: #3F51B5;
$color-info: #607d8b;
$color-success: #009688;
$color-warning: #ff8f00;
$color-danger: #f44336;
$color-disabled: #ccc;

$bg-button: white;
$bg-button-active: #eee;

$border-color: #ccc;
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow:0 1px 3px rgba(0,0,0,.3);

$font-size:14px;
$widget-height:32px;

$toast-text-color: #fff;
$hover-color: #f3a949
